importFrom(graphics, plot)
importFrom(methods, show)
importFrom(boot, boot, boot.ci)
importFrom(gplots, plotCI)
#importFrom(multicore, mclapply)
importFrom(RColorBrewer, brewer.pal)

export(create, triangWeight, rectangWeight, gaussWeight)
exportClasses(Les)
exportMethods(plot, show, summary, threshold, regions, ci, exportLambda, estimate)

