importFrom(boot, boot, boot.ci)
importFrom(gplots, plotCI)
importFrom(graphics, abline, par, plot, points, rect)
importFrom(grDevices, gray)
importFrom(methods, "@<-", new, slot, "slot<-", slotNames, validObject)
importFrom(RColorBrewer, brewer.pal)
importFrom(stats, dnorm, lm.wfit)
importFrom(utils, write.table)
importMethodsFrom(methods, show)
importClassesFrom(methods, character, data.frame, factor, "function", integer, logical, numeric)
export(triangWeight, rectangWeight, gaussWeight, epWeight)
exportClasses(Les)
exportMethods(plot, show, summary, threshold, regions, ci, export, estimate, chi2, Les)

